<style>
  .search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    height: 2rem;
    text-align: center;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .search-btn i {
    display: inline;
    margin-right: 0.25rem;
  }
  .search-inp {
    padding: 0.5rem;
    font-size: 0.9rem;
    border-radius: 25px;
    width: 250px;
    text-align: center;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand me-0" href="/listings"
      ><i class="fa-solid fa-compass"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Wonderlust</a>
      </div>
      <div class="d-flex align-items-center ms-auto">
        <form class="d-flex align-items-center" role="search">
          <input
            class="form-control me-2 search-inp"
            type="search"
            placeholder="Search destinations"
            aria-label="Search"
          />
          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>

        <% if (user) { %>
        <!-- User profile dropdown -->
        <div class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle d-flex align-items-center"
            href="#"
            id="userDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <!-- Circle with user's first letter or icon -->
            <div
              class="rounded-circle text-white d-flex justify-content-center align-items-center"
              style="
                width: 30px;
                height: 30px;
                background-color: #fe424d;
                font-weight: bold;
              "
            >
              <%= user.username[0].toUpperCase() %>
            </div>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="userDropdown"
          >
            <li>
              <span class="dropdown-item-text ml-0"
                >Welcome, <%= user.username %></span
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="/logout" style="color: #fe424d"
                ><b>Logout</b></a
              >
            </li>
          </ul>
        </div>
        <% } else { %>
        <a class="nav-link" href="/login"><b>Login</b></a>
        <a class="nav-link" href="/signup"><b>SignUp</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
