.footer {
  background-color: #f8f9fa; /* Off-white background */
  color: #000; /* Black text */
}

.footer a {
  color: #000; /* Black text */
  text-decoration: none;
}

.footer a:hover {
  color: #fe424d; /* Airbnb red on hover */
  text-decoration: underline;
}

.footer i {
  font-size: 1.25rem;
  color: #000;
}

.footer i:hover {
  color: #fe424d;
}
.footer .btn {
  border: 1px solid #fe424d;
  color: #000;
  background-color: white;
}
.footer .btn:hover {
  background-color: #fe424d;
  color: white;
}
