body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.custom-input:focus {
  border-color: #fe424d; /* Airbnb red shade or your preferred color */
  box-shadow: none; /* Removes default glow */
  outline: none; /* Removes default outline */
}
