.show .modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 120px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.show .modal-content {
  background-color: #fff;
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  max-width: 500px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.show .modal h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
}

.show .modal p {
  margin: 8px 0;
  font-size: 16px;
}

.show .modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}
.show .delete-btn {
  background-color: #000;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}
.show .btn {
  padding: 8px 16px;
  background-color: #fe424d;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.show .btn-success {
  background-color: #28a745;
  color: white;
}

.show .btn-secondary {
  background-color: #6c757d;
  color: white;
}
.show .listing-card {
  border: none;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 1rem;
  overflow: hidden;
}
.show .card-body {
  padding: 0.5rem 0;
}
.show .btns {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.show .custom-input:focus {
  border-color: #fe424d; /* Airbnb red shade or your preferred color */
  box-shadow: none; /* Removes default glow */
  outline: none; /* Removes default outline */
}
.show .favorite-btn {
  border: 2px solid #ff69b4;
  background-color: #ffffff;
  color: #ff69b4;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.show .favorite-btn:hover {
  background-color: #ffe6f0;
}

.show .favorite-btn.favorited {
  background-color: #ff69b4;
  color: #ffffff;
  border: none;
}
