<% layout("/layouts/boilerplate") %>
<div class="container mt-5">
  <h1>Contact Us</h1>
  <p>
    This is a demo contact info page. You can customize it with your real
    contact information later.
  </p>
</div>
