<% layout("/layouts/boilerplate") %>

<div class="row" style="margin-top: 80px">
  <div class="col-md-6 offset-md-3">
    <h2 class="text-center">Login</h2>
    <!-- Login Form -->
    <form action="/login" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="usernameOrEmail" class="form-label"
          >Username or Email</label
        >
        <input
          type="text"
          class="form-control custom-input"
          id="usernameOrEmail"
          name="usernameOrEmail"
          required
          autofocus
        />
        <div class="invalid-feedback">Username is required.</div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <div class="input-group">
          <input type="password" class="form-control custom-input" id="loginPassword" name="password" required />
  <button type="button" class="btn btn-outline-secondary toggle-password" data-target="loginPassword">
    <i class="fa-solid fa-eye"></i>
  </button>
          <div class="invalid-feedback">Password is required.</div>
        </div>
      </div>

      <button
        type="submit"
        class="btn mb-3"
        style="width: 100%; background-color: #fe424d; color: #fff"
      >
        Login
      </button>
      <br />
    </form>

    
    <div class="text-center">
      <a href="/forgot-password" style="color: #fe424d">Forgot Password?</a>
      &nbsp; | &nbsp; Don't have an account? &nbsp;<a
        href="/signup"
        style="color: #fe424d; text-decoration: none"
      >
        SignUp here</a
      >
    </div>
  </div>
</div>

<script src="/scripts/eyeToggle.js"></script>