<% layout("/layouts/boilerplate") %>


<div class="row" style="margin-top: 80px">
  <div class="col-md-6 offset-md-3">
    <h2 class="text-center">Reset Password</h2>
    <form
      action="/reset/<%= token %>"
      method="POST"
      class="needs-validation"
      novalidate
    >
      <div class="mb-3">
        <label for="password" class="form-label">New Password</label>
        <div class="input-group">
          <input
            type="password"
            class="form-control custom-input"
            id="password"
            name="password"
            required
            autofocus
          />
          <button
            type="button"
            class="btn btn-outline-secondary"
            onclick="togglePassword()"
            tabindex="-1"
          >
            <i id="toggleIcon" class="fa-solid fa-eye"></i>
          </button>
          <div class="invalid-feedback">New Password is required.</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="confirm" class="form-label">Password</label>
        <div class="input-group">
          <input
            type="password"
            class="form-control custom-input"
            id="confirm"
            name="confirm"
            required
          />
          <button
            type="button"
            class="btn btn-outline-secondary"
            onclick="togglePassword()"
            tabindex="-1"
          >
            <i id="toggleIcon" class="fa-solid fa-eye"></i>
          </button>
          <div class="invalid-feedback">Password is required.</div>
        </div>
      </div>
      <button
        type="submit"
        class="btn"
        style="background-color: #fe424d; color: white; width: 100%"
      >
        Reset Password
      </button>
    </form>
  </div>
</div>
